<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Aquatilium</title>
    <meta name="Japo" content="Handlebars">
    <meta name="description" content="This is the first aproach to server data managment">
    <meta name="keywords" content="node, express, css, Handlebars, server, post, js">
    <link rel="stylesheet" href="http://localhost:3000/css/main.css" type="text/css">
    <link rel="icon" type="images/png" href="images/<asset></asset>s/favicon.png"> </head>

<body>
    <div class="body-wrapper">
        <header>
            <div class="logo"><span><h1>Aquatilium</h1></span></div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/caribean">Caribe</a></li>
                    <li><a href="/pacific">Pacifico</a></li>
                    <li><a href="/asian">Asia</a></li>
                    <li><a href="/reef">Arrecife</a></li>
                    <li><a href="/african">Africanos</a></li>
                </ul>
            </nav>
        </header>
        <div class="content-wrapper"> {{{body}}} </div>
        <footer></footer>
    </div>
    <div class="coral left"></div>
    <div class="coral right"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
</body>

</html>